<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>рџ“ќCook Eat Drawers</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <!-- axios cdn -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <style>
            body {
                background: #f4f4f4;
                padding: 0 8px;
            }

            .noData {
                background-color: #f7f5ec;
                max-width: 1200px;
                margin: 0 auto;
                box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.4);
                text-align: center;
                height: 500px;
                line-height: 500px;
                border-radius: 20px;
            }
            .container {
                background-color: #f7f5ec;
                max-width: 1200px;
                margin: 0 auto;
                box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.4);
                text-align: center;
                border-radius: 20px;
                padding: 3rem 0;
            }
            .homeimg {
                margin-bottom: 20px;
            }
            .container .lists {
                margin: 0 auto;
                border: 5px solid rgba(175, 182, 76, 0.6);
                border-collapse: separate;
                border-radius: 20px;
            }
            .container .top {
                /* display: flex; */
                /* width: 1150px; */
                height: 50px;
                align-items: center;
                text-align: center;
                top: 5px;
                /* border: 1px solid black; */
                border-radius: 20px;
                /* margin-bottom: 10px; */
            }
            .container .top .items {
                /* display: flex; */
                /* border: 1px solid black; */
                /* border-radius: 20px; */
                /* width: 100px; */
                height: 50px;
                text-align: center;
            }
            .container .infomation {
                /* display: flex; */
                justify-content: start;
                /* position: absolute; */
                /* width: 1150px; */
                /* height: 400px; */
                /* flex-direction: column; */
                /* border: 1px solid black; */
                border-radius: 20px;
                /* margin-bottom: 5px; */
            }
            .infos {
                border: 5px solid rgb(231, 243, 205);
                border-radius: 20px;
                height: 50px;
            }
            .infos > td {
                margin-bottom: 10px;
            }

            .postId {
                /* width: 100px; */
            }
            .id {
                /* width: 100px; */
            }
            .title {
                /* width: 400px; */
            }
            .createdAt {
                /* width: 500px; */
            }
            .User {
                /* width: 100px; */
            }
            .write {
                background-color: rgb(227, 245, 168);
                width: 100px;
                border-radius: 20px;
                color: black;
                margin-top: 5px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <br />
        <br />
        <br />
        <br />
        <% if(!isData){%>
        <p class="noData"><%=message %></p>

        <%} else{%>

        <section class="container">
            <div class="homeimg">
                <a href="/"> <img src="/static/spoon.png" alt="Home" /></a>
            </div>

            <table class="lists">
                <thead>
                    <tr class="top">
                        <td class="items num">лІ€нё</td>
                        <td class="items identi">ID</td>
                        <td class="items postsTitle">м њлЄ©</td>
                        <td class="items postsDate">мћ‘м„±мќјм‹њ</td>
                        <td class="items writer">мћ‘м„±мћђ</td>
                    </tr>
                </thead>

                <tbody>
                    <!-- <tr class="infomation">
                        <td class="infos postId">1</td>
                        <td class="infos id">bseowjd13</td>
                        <td class="infos title">
                            <a href="/#">нЃ¬л¦јнЊЊмЉ¤нѓЂлќјлќјлќјлќјлћ„лќјлќјлќјлќјг…Џг„№лќјлќјлќјлќјлќјлќјлќјлќј</a>
                        </td>
                        <td class="infos createdAt">Mon Mar 04 2024 21:31:36</td>
                        <td class="infos User">мњ¤лЊЂм •мњ¤лЊЂм •мњ¤лЊЂм •</td>
                    </tr> -->
                    <!-- [{postId, id, title, createdAt, User:{} }] -->
                    <% for(let post of posts){ %>
                    <tr class="infomation">
                        <td class="infos postId"><%=post.postId%></td>
                        <td class="infos id"><%=post.id%></td>
                        <td class="infos title">
                            <a href="/post/<%=post.postId%>"><%=post.title%></a>
                        </td>
                        <td class="infos createdAt"><%=post.dataValues.formattedDate%></td>
                        <td class="infos User"><%=post.author.userName%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="write"><a href="/post">кІЊм‹њкёЂ мћ‘м„±</a></div>
            <% console.log(posts[0]) %>
        </section>
        <% } %>
        <footer>
            <%- include('footer.ejs') %> <%- include('account.ejs') %>
            <!-- <script src="/js/bootstrap.min.js"></script> -->
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"
            ></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        </footer>
        <script>
            // console.log(finalDataArr);
        </script>
    </body>
</html>
