<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>π“Cook Eat Drawers</title>
        <!-- axios cdn -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/posts.css" />
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    </head>
    <body>
        <%- include('nav.ejs') %> <%- include('footer.ejs') %>
        <br />
        <% if(!isData){%>
        <p class="noData"><%=message %></p>

        <%} else{%>

        <section class="container">
            <div class="homeimg">
                <a href="/"> <img src="/static/spoon.png" alt="Home" /></a>
            </div>

            <table class="lists">
                <thead>
                    <tr class="top">
                        <td class="items num">λ²νΈ</td>
                        <td class="items identi">ID</td>
                        <td class="items postsTitle">μ λ©</td>
                        <td class="items postsDate">μ‘μ„±μΌμ</td>
                        <td class="items writer">μ”λ¦¬μ‚¬</td>
                    </tr>
                </thead>

                <tbody>
                    <!-- <tr class="infomations">
                        <td class="infos postId">1</td>
                        <td class="infos id">bseowjd13</td>
                        <td class="infos title">
                            <a href="/#">μΌμ΄μ‚Όμ‚¬μ¤μ΅μΉ ν”κµ¬μ‹­μΌμ΄μ‚Όμ‚¬μ¤μ΅μΉ ν”κµ¬μ‹­</a>
                        </td>
                        <td class="infos createdAt">Mon Mar 04 2024 21:31:36</td>
                        <td class="infos User">μ¤λ€μ •μ¤λ€μ •μ¤λ€μ •</td>
                    </tr> -->
                    <!-- [{postId, id, title, createdAt, User:{} }] -->
                    <% for(let post of posts){ %>
                    <tr class="infomation">
                        <td class="infos postId"><%=post.postId%></td>
                        <td class="infos id"><%=post.id%></td>
                        <td class="infos title">
                            <a href="/post/<%=post.postId%>"><%=post.title%></a>
                        </td>
                        <td class="infos createdAt"><%=post.createdAt%></td>
                        <td class="infos User"><%=post.author.userName%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <button class="custom-btn btn-12" onclick="location.href = '/post' ">
                <span>Cook eat!π΄</span><span>μ”λ¦¬μ‹μ‘!π΄</span>
            </button>
            <%# console.log(posts[0]) %>
        </section>
        <% } %>
        <footer>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/bootstrap.bundle.js"></script>
            <script src="/js/jquery.js"></script>
        </footer>
        <script>
            console.log(finalDataArr);
        </script>
    </body>
</html>
