<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>POST</title>
        <%- include('nav.ejs') %> <%- include('footer.ejs') %>
        <link rel="stylesheet" href="/static/post.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
    </head>
    <body>
        <!-- {
        'postId" : 1, 
        "username" :"banana1234", 
        "title" : "blah", 
        ”content” : “ababla”,
        ”createdAt” : ”2024/02/28” 
        } -->
        <div class="container">
            <h2>POST</h2>
            <div class="postNav">
                <div class="navContent">
                    <!-- <div class="postId"><%#=post.id %></div> -->
                    <div class="postId" hidden><%=post.postId %></div>
                    <div class="userName">작성자: <%=post.author.userName%></div>
                    <div class="follow">
                        <span class="material-symbols-outlined followIcon"> favorite </span>
                        <!-- <button type="button">FOLLOW</button> -->
                    </div>
                    <div class="title">제목: <%=post.title %></div>
                </div>
                <div class="time">
                    <div class="createdAt">작성일: <%=formattedDate %></div>
                </div>
            </div>
            <div class="contentBox">
                <div class="content"><%=post.content %></div>
            </div>
            <div class="buttonBox">
                <div class="myBox">
                    <button type="button" class="editPost" onclick="getEdit()">EDIT</button>
                    <button type="button" class="deletePost" onclick="deletePost()">DELETE</button>
                </div>
                <div class="bookmarkBox">
                    <div class="bookmark">
                        <span class="material-symbols-outlined bookmarkIcon"> bookmark </span>
                        <!-- <button type="button">BOOKMARK</button> -->
                    </div>
                </div>
            </div>
            <div class="posts">
                <button type="button" onclick="getPosts()">POSTS</button>
            </div>
        </div>
    </body>

    <script>
        // 0. 토큰정보 가져오기
        const token = localStorage.getItem("user");
        const userId = localStorage.getItem("userId");
        const postUserId = "<%=post.id %>";
        console.log("token", token);
        console.log("userId", userId); //User테이블의 id임

        // 0-5 수정, 삭제 버튼은 토큰 일치해야 보이도록 설정
        const editPostBtn = document.querySelector(".editPost");
        const deletePostBtn = document.querySelector(".deletePost");
        if (postUserId != userId) {
            editPostBtn.style.visibility = "hidden";
            deletePostBtn.style.visibility = "hidden";
        }
        // 1. posts버튼 클릭시 목록 페이지 이동
        function getPosts() {
            location.href = "/posts";
        }
        // 2. 수정버튼 클릭시 수정페이지 이동
        function getEdit() {
            location.href = "/editPost";
        }
        // 3. 삭제 버튼 클릭시 확인confirm후 삭제
        function deletePost() {
            const deleteOk = confirm("삭제하겠습니까?");
            if (deleteOk) {
                //삭제작업 axios
                axios({
                    url: "/post/" + "<%=post.id %>",
                    method: "delete",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                })
                    .then((res) => {
                        alert("게시글 삭제가 완료되었습니다");
                        location.href = "/posts";
                    })
                    .catch((err) => {
                        console.log("err>>", err);
                    });
            } else {
                //삭제취소
            }
        }
        // 4. follow버튼
        // 5. bookmark버튼
    </script>
</html>
